.body{
    border: black;
    border-style: solid;
    height: max-content;
}
.column{
    float: center;
    width: 33.33%
    padding; 5xp;  
}

.row::after{
    content:"";
    clear:both;
    display: table;
}
.icon{
margin-left: 2%;
float: left;
height: 40px;
width: 40px;
}
.text1{
    text-align: right;
    
}
.site{
    text-align: center;

    
}
.sub{
    text-align: right;
}
.low{
    padding-block: 5mm;
    height: fit-content;
}
.yellow{
    height: fit-content;
    background-color: orange;
}
.header{
    background: linear-gradient(to right,
    white 0%,
    white 50%,
    orange 50%,
    orange 100%);
    height: max-content;

}
.ham{
   position: absolute;
   top: 80px;
   right: 80px;
}
.menu{
    position: relative;
    bottom: -420px;
    padding: 50px;
    background-color: white;
}
.pro{
    position: relative;
    bottom: -420px;
    padding: 50px;
    background-color: white;
}
.text-block{
    position: absolute;
    border-style: 5px solid #555;
    text-align: center;
}
}